Repository ianhomer/try-langchainjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

.lintstagedrc:

{
  "*.{cjs,css,js,json,md,ts,tsx,yaml}": "prettier --write .",
  "*.{cjs,css,js,ts,tsx}": "eslint --fix"
}

🚨 Add prettier formatting linting
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
Due: prettier --write .

⚗️ Try out structured output
  package.json
  pnpm-lock.yaml
  src/index.js
  src/structured-output.js
Due: prettier --write ., eslint --fix

⚗️ change the structured output example into an intent interpretter
  .envrc.recommended
  src/structured-output.js
Due: prettier --write ., eslint --fix

🔧 change the type of delay and amount to number
  src/structured-output.js
Due: prettier --write ., eslint --fix

👷 switch over to using bun for runtime
  README.md
  package.json
  src/index.ts
  src/rag.ts
  src/structured-output.ts
Due: prettier --write ., eslint --fix

⚗️ Create vector store on the way to RAG
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/rag.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

🚨 Lint eslint config
  eslint.config.mjs
Due: none

⚗️ Use local files for RAG foundations
  package.json
  pnpm-lock.yaml
  src/rag.ts
Due: prettier --write ., eslint --fix
